.container-ap {
  justify-content: center;
  align-items: center;
  margin: 20px 200px;
}
input {
  font-size: 20px;
}
.container-ap-1 {
  display: flex;
}
.container-ap-2 {
  justify-content: center;
}
.pageheader2 {
  padding-left: 90px;
}
.left-side-ap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}
.right-side-ap {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
.left-side-ap-top {
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  width: 80%;
  border: solid 0.5px black;
}
.left-side-ap-bottom {
  height: 30px;
  padding: 4px;
  width: 80%;
  border-radius: 5px;
  padding: 10px 10px;
  border: solid 0.5px black;
}
.temp1 {
  padding-bottom: 4px;
}
.temp2 {
  padding-top: 4px;
}
.right-side-ap-top {
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px;
  width: 80%;
  padding: 10px 10px;
  border: solid 0.5px black;
}

.right-side-ap-bottom {
  height: 30px;
  padding: 4px;
  width: 80%;
  border-radius: 5px;
  padding: 10px 10px;
  border: solid 0.5px black;
}

.bottom-ap {
  padding-left: 22px;
}

.button-ap {
  border-radius: 6px;
}

.button-ap:hover {
  background-color: rgb(77, 107, 254);
}

.bottom-ap-input {
  padding-left: 20px;
}

.center-bottom {
  height: 25px;
  background-color: rgba(128, 128, 128, 0.46);
  border-radius: 5px;
  padding-left: 4px;
  width: 60%;
  border: solid 0.5px black;
  padding: 5px 30px;
  background-color: white;
  margin: 20px 0px;
}

.button-ap-dv {
  padding-top: 20px;
  padding-left: 20px;
}
