.cardcontainer {
  margin-bottom: 15px;
  padding: 40px 50px;
  width: 70%;
  height: 120px;
  border: 2px solid #bdbdbd;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.cardcontainer:hover {
  color: white;
}

#display {
  font-size: 28px;
  font-weight: bold;
}

.cardsections {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.csectionl {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cardcontainer:hover {
  background-color: rgb(77, 107, 254);
}
.cright {
  text-align: right;
}
.cleftTop {
  font-weight: bold;
  font-size: 30px;
}
.crightTop {
  font-weight: bold;
  font-size: 30px;
}
.cleftBottom {
  font-weight: lighter;
  font-size: 25px;
}
.crightBottom {
  font-size: 30px;
}
