.container {
  display: flex;
}
.pageheader {
  padding: 40px 100px;
  border-radius: 10px;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;

  align-items: center;
}

.right-side {
  flex: 1;
  padding: 20px;
}
