.hdr {
  text-align: right;
  padding: 20px 10px;
  display: flex;
  font-size: 17px;
  font-weight: 300;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex;
  gap: 5px;
  background-color: rgb(77, 107, 254);
  color: white;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.rightheaders {
  display: flex;
}

.navitem {
  transition: 0.3s;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 25px;
}
.navitem:hover {
  background-color: black;
}
.navlogo {
  font-weight: bold;
}
.navlogo:hover {
  opacity: 0.5;
  background-color: transparent;
}
